body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.playerZone {
  width: 50%;
  margin: 4px;
  padding: 7px;
  border: solid black 1px;
}

.cardZone {
  width: 80px;
  height: 100px;
  margin: 10%;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  border-radius: 10px;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.hearts {
  background-image: url("https://cdn.pixabay.com/photo/2012/04/13/20/38/hearts-33564_960_720.png");
}

.tiles {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR2_Rsn1h_FAZWBZuOeSOP1z8F4B4T_hYIeg&usqp=CAU");
}

.clovers {
  background-image: url("https://image.freepik.com/vecteurs-libre/trefle-carte_17-822071752.jpg");
}
.pikes {
  background-image: url("https://cdn.icon-icons.com/icons2/909/PNG/512/spades_icon-icons.com_70867.png");
}

.flip {
  background-image: url("https://i.pinimg.com/originals/25/42/c7/2542c7e8c0dad988ed003eb2218dc268.jpg");
  background-size: cover;
}

.buttons {
  margin-top: 25px;
}
